body {
	font-family: $roboto-font;
	background-color: $background-color;
}

h1 {
	font-size: $h1-font-size;
	color: $font-color;
}

h2 {
	font-size: $h2-font-size;
	color: $font-color;
}

h3 {
	font-size: $h3-font-size;
	color: $link-color;
}

a:hover {
	text-decoration: none;
}