/* Colors */
$white-color: #fff;
$link-color: #56819f;
$menu-color: #191919;
$menu-button-color: #282828;
$orange-color: #f58220;
$font-color: #a6a6a6;
$number-color: #333333;
$background-color: #e7e5e5;
$nav-font-color: #818181;
$nav-button-hover-background: #282828;


/* Font sizes */
$h1-font-size: 20px;
$h2-font-size: 16px;
$h3-font-size: 13px;
$nav-font-size: 14px;
$button-font-size: 18px;

/* Fonts */
$roboto-font: 'Roboto', sans-serif;

/* Transition */
$transition: all .4s ease;